.nav-link {
    display: flex;
    align-items: center;
}

.nav-link i {
    margin-right: 8px;
}

.navbar-brand,
.nav-link,
.nav-link-login {
    color: black !important;
    font-weight: bold !important;
}

.nav-link-login {
    display: inline-block;
    padding: 5px 25px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #ee5161;
    color: white !important;
    transition: all 0.3s ease;
}

.nav-link-login:hover,
.nav-link-login:focus {
    background-color: black;
    border-color: #fcfcfc;
    color: #ffffff;
}
